.cWhite{
    background-color: white;
    color: black;
}
.cBlue{
    background-color: blue;
    color: white;
}
.cSilver{
    background-color: silver;
    color: black;
}
.cRed{
    background-color: red;
    color: black;
}
.cBrown{
    background-color: saddlebrown;
    color: black;
}
.cGreen{
    background-color: green;
    color: black;
}
.cYellow{
    background-color: yellow;
    color: black;
}
.cOrange{
    background-color: darkorange;
    color: black;
}
.cBlack{
    background-color: black;
    color: white;
}
.cGrey{
    background-color: dimgray;
    color: white;
}
.cPink{
    background-color: hotpink;
    color: black;
}
.cPurple{
    background-color: purple;
    color: white;
}
.cGold{
    background-color: goldenrod;
    color: black;
}
.cRainbow{
    /*https://stackoverflow.com/questions/56418763/creating-the-perfect-rainbow-gradient-in-css*/
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    color: white;
}